spring:
  application:
    name: lab_5
  datasource:
    url: jdbc:postgresql://localhost:5432/layered_lab
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  liquibase:
    enabled: true
    change-log: db/changelog/changelog-master.xml
server:
  port: 8080